# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle
.gradle/
build/
gradle/
libs/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
gradlew
gradlew.bat

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip

# OS files
Thumbs.db
